
body {
  background: linear-gradient(135deg, #0061ff, #7f00ff);
  min-height: 100vh;
}


.titulo-principal {
  color: white;
}

.card-modern {
  border-radius: 12px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 100%;
  height: 210px;  
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.4s ease;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.btn-gradient {
  background: linear-gradient(90deg, #0061ff, #7f00ff);
  color: white !important;
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
